* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #3d3d3d;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-block1__currency {
    color: #838383;
    text-decoration: none;
}

.header-block2 {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-block2__register {
    color: #b9b9b9;
    text-decoration: none;
}

.header-block2__signin {
    color: #b9b9b9;
    text-decoration: none;
}

.header-block3:hover {
    background-color: rgb(17, 223, 250);
    height: 45px;
}

.header-block3 {
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 7%;
    margin: 0 15%;
}

.fa-shopping-cart {
    color: white;
    width: 10%;
}

.header-block3__empty {
    color: white;
}

.area1 {
    background-color: #ffffff;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
}

.area1-container {
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

@font-face {
    font-family: "Kimberley";
    src: url(http://www.princexml.com/fonts/larabie/kimberle.ttf) format("truetype");
}

* {
    font-family: "Kimberley", sans-serif;
}

.area1-name__avenue {
    color: black;
    font-size: 170%;
}

.area1-right {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.area1-right-sections {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.area1-right-sections a {
    color: black;
}

.area1-right-sections__men:hover {
    color: rgb(17, 223, 250);
}

.area1-right-search {
    position: relative;
}

.area1-right-sections-search__input {
    background-image: url("search-solid.svg");
    margin-left: 60px;
    height: 27px;
}

.area1-right-sections-search__image i {
    position: absolute;
}

.bigimg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bigimg-img {
    background-image: url("photo.png");
    left: 0px;
    top: 17px;
    width: 2050px;
    height: 1152px;
    z-index: 138;
    width: 100%;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.bigimg-container {
    margin-top: 150px;
    width: 100%;
    align-items: center;
    height: 100%;
    text-align: center;
}

.bigimg-container-bigtext__logo {
    font-size: 300%;
    color: white;
}

.bigimg-container-bigtext__middle {
    font-size: 180%;
    color: white;
    margin-top: 2%;
}

.bigimg-container-bigtext__middle a {
    color: rgb(17, 223, 250);
}

.body {
    height: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-container {
    margin: 10% 15% 2% 15%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 100%;
}

.body-container-maintext {
    margin-left: 3%;
    width: 590px;
}

.body-container-maintext__head a {
    font-size: 120%;
    font-weight: bold;
}

.body-container-maintext__money {
    color: rgb(174, 174, 174);
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.body-container-maintext__money {
    font-size: 200%;
}

.body-container-maintext__money p {
    text-decoration: line-through;
}

.body-container-maintext__money sup {
    font-size: 75%;
}

.footer {
    height: 600px;
    width: 100%;
    background-color: rgb(238, 238, 238);
}